{# Étendez ici le layout de base si vous en avez un #}
{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% form_theme passwordForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="row col-md-10 mx-auto">
        {{ form_start(passwordForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

            {{ form_row(passwordForm.oldPassword, {'row_attr': {'class': 'col-md-6'}}) }}

            {{ form_row(passwordForm.password, {'row_attr': {'class': 'col-md-6'}}) }}

            {{ form_row(passwordForm._token) }}

            <button type="submit" class="btn btn-success mt-3">Modifier mot de passe</button>

        {{ form_end(passwordForm, {render_rest: false}) }}

    </div>


{% endblock %}