{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Register</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}
                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.phone) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(registrationForm.adress) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.CodePostal) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{ form_row(registrationForm.last_name) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.first_name) }}
                    </div>
                </div>
              <div class="row mb-3">
                    <div class="col">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                    <div class="col">
                        {{ form_row(registrationForm.avatar, {
                            label: 'Avatar (image file)'
                        }) }}
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-primary w-100" type="submit">Register</button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
