{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des articles</h1>

    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                <a href="{{ path('app_article_show', { 'id': article.id }) }}">
                    <div class="card p-2 mb-4">
                        {% if article.picture is empty %}
                            <img src="{{ asset('/uploads/articles/default.jpg') }}" class="card-img-top" alt="{{ article.title }}" style="width: 200px; height: 200px; object-fit: cover;">
                        {% else %}
                            <img src="{{ asset('/uploads/articles/' ~ article.picture) }}" class="card-img-top" alt="{{ article.title }}" style="width: 200px; height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description|slice(0, 80) ~ (article.description|length > 100 ? '...' : '') }}</p>
                            <a href="{{ path('app_article_show', { 'id': article.id }) }}" class="btn btn-primary">Afficher</a>
                            {% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %}
                                <a href="{{ path('app_article_edit', { 'id': article.id }) }}" class="btn btn-warning">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
			<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>
        </div>
    </div>

    {% if app.user and 'ROLE_ADMIN' in app.user.getRoles() %}
        <div class="text-center">
            <a href="{{ path('app_article_new') }}" class="btn btn-success mt-3">Créer un nouvel article</a>
        </div>
    {% endif %}
{% endblock %}
